*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: salmon;
}
#page2{
    height: 100vh;
    width: 100vw;
    background-color: #545E42;
    padding: 20px;
}
#page2 h1{
    color: #434B34;
    text-align: center;
    font-size: 4vw;
    line-height: 3.4vw;
}
#page3{
    height: 100vh;
    width: 100vw;
    background-color: #dadada;
}